.message {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    position: relative;
}

.message > p {
    background-color: #f3f3f5;
    font-size: medium;
    padding: 10px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: 10px;
}
.message > small {
    position: absolute;
    left: 0;
    font-size: 10px;
    bottom: -10px;
}

.message__sender {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1.5rem 0;
    position: relative;
}
.message__sender > .message__photo {
    order: 1;
}
.message__sender {
    margin-right: 10px;
}
.message__sender > p {
    background-color: #3cabfa;
    color: #fff;
    font-size: medium;
    padding: 10px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 10px;
}
.message__sender > small {
    position: absolute;
    font-size: 10px;
    float: right;
    bottom: -10px;
}
